table {
    border : 1px solid rgb(0, 0, 0);
    width: 85%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }

  tr{background-color: #f2f2f2}
  
  th {
    background-color: rgb(61, 136, 221);
    color: rgb(255, 255, 255);
  }
  body, html {
    height: 1080px;
  }
  .bg {
    /* The image used */
    /*background-image: url("./PEI-Taxi-Cabs1.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }