<body>

    <div class="bg">

<br>

<p>
  <ul>
  <li><a href="http://localhost:3000/getapi/{{oid}}">Gest the Swagger File</a></li>
  <li><a routerLink ="/table">View The Swagger File Detailed </a></li>
</ul>
<br><br>
<div >
    <table align="center">
        <tr>
          <th colspan="2">API Detalis</th>
        </tr>
        <tr>
          <th scope="col">Swagger Version</th>
          <td>{{api.swagger}}</td>
        </tr>
        <tr>  
          <th scope="col">Host</th>
          <td>{{api.host}}</td>
        </tr>
        <tr>
          <th scope="col">basePath</th>
          <td>{{api.basePath}}</td>
        </tr>
        <tr>
          <th scope="col">Info</th>
          <td>{{info}}</td>
        </tr>
        <tr>
          <th scope="col">Tags</th>
          <td>{{tags}}</td>
        </tr>
        <tr>
            <th scope="col">Schemas</th>
            <td>{{schemes}}</td>
          </tr>
        <tr>
            <th scope="col">Paths</th>
            <td>{{paths}}</td>
        </tr>
        <tr>
          <th> Security Definitions </th>
          <td>{{security}}</td>
        <tr>
          <th colspan="2">Authentication Details</th>
        </tr>
        <tr>
          <th>name</th>
          <td>{{api["x-customAuth"].name}}</td>
        </tr>
        <tr>
            <th>grant Type</th>
            <td>{{api["x-customAuth"].grantType}}</td>
        </tr>
        <tr>
          <th>Autorization - URL </th>
          <td>{{url}}</td>
      </tr>
        <tr>
          <th >Genarate The key Via - {{grantType}}</th>
          <td>
              <form [formGroup]="csForm" class="cs-form" >
                  <mat-form-field class="field-full-width">
                      <input matInput placeholder="Consumer Key" formControlName="ck" #ck>
                    </mat-form-field>
                    <br>
                  <mat-form-field class="field-full-width">
                    <input matInput placeholder="Consumer Secret" formControlName="cs" #cs>
                  </mat-form-field>
                  <mat-divider></mat-divider>
                  <mat-form-field class="field-full-width" >
                      <input matInput placeholder="User Name" formControlName="uName" #uName>
                    </mat-form-field><br>
                      <mat-form-field class="field-full-width">
                          <input matInput type="password" placeholder="Password" formControlName="password" #password>
                        </mat-form-field>
                    <mat-divider></mat-divider>
                  <br><br>
                  <button type="submit" (click)="gvcs(ck.value,cs.value)" [disabled]="csForm.pristine || csForm.invalid" mat-raised-button color="primary">Get Key</button>
                </form>
              </td>
        <!--<div *ngIf="grantType === 'passowrd_grant'">
        <tr>
            <th colspan="2">Via Password Grant type</th>
        </tr>
        <tr>
        <td colspan="2">
            <form [formGroup]="pgForm" class="pg-form">
                <mat-form-field class="field-full-width">
                  <input matInput placeholder="User Name" formControlName="uName" #uName>
                </mat-form-field><br>
                  <mat-form-field class="field-full-width">
                      <input matInput type="password" placeholder="Password" formControlName="password" #password>
                    </mat-form-field>
                <mat-divider></mat-divider>
                <br><br>
                <button type="submit" (click)="gvpg(uName.value, password.value)" [disabled]="pgForm.pristine || pgForm.invalid" mat-raised-button color="primary">Get Key</button>
            </form>
        </td>
      </tr>
    </div>-->
      <tr>
        <th>API Key</th>
        <td>{{token}}</td>
      </tr>
    </table>
    </div>
  </div>
</body>