table {
  border: 1px solid #ddd;;
    width: 85%;
  }
  td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  
  tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3b5998;
    color: white;
  }

  body, html {
    height: 1080px;
  }
  form{
    background: white;
    width: 75%;
    align-self: center;
  }
  .bg {
    /* The image used */
    /*background-image: url("./PEI-Taxi-Cabs1.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .create-form {
    min-width: 150px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}